<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/user">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/test">Test</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Pets</a>
            <div class="dropdown-menu" data-bs-popper="static">
              <a class="dropdown-item" href="/pet">Create a Pet</a>
              <a class="dropdown-item" href="/pet/list">Pet List</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>